__pycache__/
*/__pycache__/

data/*
!data/models/
data/models/*
!data/models/*.py

.venv/
outputs/videos
outputs/compare
outputs/*.avi
outputs/testing_params/frame*.jpg
outputs/testing_params/basic/frame*.jpg
outputs/testing_params/corr=whitened/frame*.jpg
lool.py